.text-center {
    text-align: center;
}
.text-size {
    font-size: 24px;
}
.just-cent{
    justify-content:center;
}
.just-space-b{
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.flex-b {
    flex-basis: 50%;
}

.moleHoles {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px, solid, black;
}

.moles {
    background-color: brown;
}

.startbutton {
    width: 33%;
    height: 25px;
}

.timer {

}

.scorecounter {

}

.scoreup {
    color: green;
    transform: ;
}

.scoredown {
    color: red
}
