.text-center {
    text-align: center;
}
.text-size {
    font-size: 24px;
}
.just-cent{
    justify-content:center;
}
.just-space-b{
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.flex-dir {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}

.moleHoles {
    flex-basis: calc((100% / 3) - 12px);
    height: 25vh;
    border-radius: 50%;
    background-color: grey;
    border: 2px, solid, black;
    margin: 3px;
}

.moles {
    background-color: brown;
}

.startbutton {
    width: 33%;
    height: 25px;
}

.timer {

}

.scorecounter {

}

.scoreup {
    color: green;
}

.scoredown {
    color: red
}
